{% load static %}
{% include 'include/base.html'%}
{% include 'include/formscript.html'%} 
<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Connector</title>
</head>
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    {%include 'account/sidebar.html'%}
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    {% include 'include/navbar.html'%}
    <!-- End Navbar --> 
    <div class="limiter">
      <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg'%});">
          <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <h1><center>Select Service</center></h1><br>
              <form action="{% url 'select_connector' %}" method="post">
                  {% csrf_token %}
                  {% for connector in connector_details%}
                  <div>
                    <label class="wrap-input100-input validate-input" for="connector_{{ connector.id }}">
                    <input type="radio" id="connector_{{ connector.id }}" name="connector_id" value="{{ connector.id }}" style="margin-right: 1.5rcap;">
                     {{connector.service}} 
                    </label><br>
                  </div>
                  {% endfor %}
                  <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                      Select
                    </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
{%include 'include/script.html'%}
  </main>
{% include 'include/alerts.html' %}
</body>

